rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Regra base: Rejeita tudo por padrão
    match /{document=**} {
      allow read, write: if false;
    }

    // Regra específica para o usuário: Ele só acessa os próprios dados
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // Subcoleção de transações
      match /transactions/{transactionId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      
      // Subcoleção de regras de categorias
      match /categoryRules/{ruleId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}