rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // 1. Regras para os dados normais do utilizador (Ele pode ler e escrever tudo o que é dele)
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // 2. 🔒 COFRE DE AUDITORIA BLINDADO (Apenas Inserção)
    match /audit_logs/{logId} {
      // Só permite criar se estiver logado e se o campo userId do log for igual ao UID de quem está a enviar
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      // BLOQUEIO TOTAL: Ninguém apaga ou edita o rastro!
      allow read, update, delete: if false; 
    }
  }
}